.robotMain {
    width: 90%;
    border: 1px solid var(--color-secondary);
    box-shadow: 0 0 10px 0 var(--color-secondary);
    margin: 2vh auto;
    height: 81vh;
    border-radius: 10px;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--color-overlay);
    margin: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebarContent:hover {
    background: #555555;
}

.sidebar::-webkit-scrollbar {
    width: 5px;  /* 滚动条的宽度 */
}
.sidebar::-webkit-scrollbar-track {
    background: var(--color-text-on-primary); /* 轨道的颜色 */
}
.sidebar::-webkit-scrollbar-thumb {
    background: var(--color-primary); /* 滑块的颜色 */
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-variant); /* hover时滑块的颜色 */
}

.sidebarUser {
    min-height: 100px;
    border: 1px solid var(--color-overlay);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    transition-duration: 0.4s;
    margin-left: 15px;
    min-height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.mainContentText {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    color: var(--color-text);
    flex-grow: 1;
    overflow-y: scroll;
    white-space: pre-wrap;
}
.mainContentTextUser {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    align-self: flex-start;
    border: 1px solid var(--color-overlay);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.mainContentTextRobot {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    max-width: 80%;
    border: 1px solid var(--color-overlay);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.mainContentInput{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    color: var(--color-text-on-primary);
    border: 1px solid var(--color-overlay);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.mainContentInput input{
    width: 100%;
    border: none;
}
.mainContentInput input:focus {
    outline: none; /* 移除选中时的默认边框 */
}
.mainContentInput button {
    border: none;
    background: var(--color-primary);
    color: var(--color-text-on-primary);
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
}

.loadingAnimation {
    border: solid 1px;
    border-radius: 50%;
    border-color: var(--color-primary);
    width: 40px;
    height: 40px;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}